<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8" />
    <title>大富翁-管理</title>
        <meta http-equiv="Access-Control-Allow-Origin" content="*" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dfw.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css')}}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.raty.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/echarts-all.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/dfw_admin.js')}}"></script>

    <style>
        li { list-style: none; }
    </style>

</head>
<body role="document" style='background-color:#eee'> 
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="#"><img alt="Brand" src="{{url_for('static', filename='babelfish.png')}}"
                height = "28px" style="margin:0px;"></a>-->
            <a class="navbar-brand" href="#">大富翁</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">管理首页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout" target='_self'>登出</a></li>
            </ul>
        </div>
    </div>
    </nav>

    <div class="container-fluid theme-showcase" role="main" style="margin-top:60px;">
        <div class="row">
            <div class="col-md-3">
                <div class="shadow border content-u" id='params-select'>
                    <br/>
                    <div>
                        <p class="text-center"><strong>Welcome, 管理员！</strong></p>
                    </div>
                    <br/>
                    <div class="list-group">
                        <a href="#" id="account_info_menu" class="list-group-item"  onclick="getAccountInfo('account_info_menu')">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;大账户信息</a>
                        <a href="#" id="user_list_menu" class="list-group-item" onclick="getUserList('user_list_menu')">
                            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;客户列表</a>
                        <a href="#" id="add_user_menu" class="list-group-item " onclick="addUser('add_user_menu')">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;新增客户</a>
                        <a href="#" id="trade_stream_menu" class="list-group-item" onclick="getTradeData('trade_stream_menu')" >
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;交易流水</a>
                        <a href="#" id="global_set_menu" class="list-group-item" onclick="globalSet('global_set_menu')">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;全局管理</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9" id = "right_content">
            </div>
        </div>
    </div>
</body>
</html>
