<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8" />
    <title>大富翁-管理</title>
        <meta http-equiv="Access-Control-Allow-Origin" content="*" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dfw.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css')}}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/echarts-all.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/dfw.js')}}"></script>

    <style>
        li { list-style: none; }
    </style>

</head>
<body role="document" style='background-color:#eee'> 
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="#"><img alt="Brand" src="{{url_for('static', filename='babelfish.png')}}"
                height = "28px" style="margin:0px;"></a>-->
            <a class="navbar-brand" href="#">大富翁</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">管理首页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout" target='_self'>登出</a></li>
            </ul>
        </div>
    </div>
    </nav>

    <div class="container-fluid theme-showcase" role="main" style="margin-top:60px;">
        <div class="row">
            <div class="col-md-3">
                <div class="shadow border content-u" id='params-select'>
                    <br/>
                    <div>
                        <p class="text-center"><strong>Welcome, 管理员！</strong></p>
                    </div>
                    <br/>
                    <div class="list-group">
                        <a href="#" id="dpid" class="list-group-item active" onclick="set_cheat_user_click('dpid')">客户列表</a>
                        <a href="#" id="dpid" class="list-group-item " onclick="set_cheat_user_click('dpid')">新增客户</a>
                        <a href="#" id="guid" class="list-group-item" onclick="set_cheat_user_click('guid')" >客户充值</a>
                        <a href="#" id="user_id" class="list-group-item" onclick="set_cheat_user_click('user_id')">客户结账</a>
                        <a href="#" id="user_ip" class="list-group-item"  onclick="set_cheat_user_click('user_ip')">管理员账户<span class="badge">pc</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="shadow border content-u" id='user-table'>
                    <div class="content-v">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>用户id</th>
                                <th>用户名称</th>
                                <th>账户状态</th>
                                <th>账户余额</th>
                                <th>盈亏状态</th>
                                <th>盈亏比例</th>
                            </tr>
                        </thead>
                        <tbody id='cheat_user_data'>
                        </tbody>
                    </table>
                    </div>
                    <div class='content-w'>
                        <ul class="pager">
                            <li class="previous" id="previous" onclick="click_previous()"><a href="#"><span
                                    aria-hidden="true">&lt-</span> Previous</a></li>
                            <li><a href="#" id="page_index"></a></li>
                            <li class="next" id="next" onclick="click_next()"><a href="#">Next <span
                                    aria-hidden="true">-&gt</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
